.mainDiv {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: auto;
}

button {
  background-color: rgb(126, 236, 168);
  margin-left: 5px;
}
html {
  background-color: beige;
}
.taskP {
  font-size: 30px;
  font-weight: bold;
  display: inline;
}
