* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  min-width: 870px;
  width: 100%;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  border-bottom: 5px solid rgb(84, 168, 211);
  text-decoration: rgb(84, 168, 211);
}
header a {
  color: rgb(88, 142, 188);
}
main {
  border-bottom: 5px solid rgb(205, 205, 205);
  background-color: rgb(230, 230, 230);
  border-top: 1px solid rgb(230, 230, 230);
}
.mainSection {
  background-color: white;
  margin: 25px;
  border: 1px solid rgb(205, 205, 205);
}
.mainLeftRight {
  display: flex;
  flex-direction: row;
  margin: 30px 15px;
}
.mainLeft h1 {
  color: rgb(51, 161, 214);
}
.mainLeft p {
  color: rgb(130, 130, 130);
  font-size: 20px;
}
.mainLeft div {
  display: flex;
  align-items: center;
}
.mainRight {
  border: 1px solid rgb(205, 205, 205);
  border-radius: 10px;
  width: 40%;
  min-width: 300px;
  margin-left: 30px;
}
.blueBox {
  background-image: linear-gradient(
    to bottom,
    rgb(118, 185, 220),
    rgb(51, 136, 177)
  );
  color: white;
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
}
.joinBox {
  display: flex;
  flex-direction: row;
  margin: 10px 20px 10px 10px;
}
.labelsForInput {
  display: flex;
  flex-direction: column;
  width: 110px;
  color: rgb(64, 64, 64);
  margin-bottom: 15px;
  margin-right: 10px;
  gap: 20px;
  align-items: end;
}
.inputsBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
}
.inputsBox input {
  height: 25px;
}
.inputsBox button {
  height: 25px;
  background-color: rgb(147, 200, 68);
  border: 1px solid rgb(103, 154, 50);
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
}
.mainBottom {
  border-top: 2px solid rgb(205, 205, 205);
  margin: 25px 25px 25px 25px;
}
.mainBottom p {
  color: rgb(130, 130, 130);
}
.mainBottom h2 {
  color: rgb(64, 64, 64);
}
.search {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 30px;
  justify-content: center;
}
.search button {
  width: 40px;
  color: rgb(64, 64, 64);
}

.directory {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
footer p {
  color: rgb(100, 100, 100);
}
footer {
  margin: 25px;
}
footer .company,
.tools,
.products,
.policy,
.terms {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 5px;
}
.policy {
  margin-top: 20px;
}
