* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.around1 {
  height: 15%;
  display: block;
  background-color: #a55c18;
}
.around2 {
  height: 25%;
  display: block;

  background-color: #a55c18;
  border-top: 2px solid rgb(61, 33, 0);
}
.settingsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #a55c18;
  border-bottom: 2px solid rgb(61, 33, 0);
}
.settingsSection div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}
.settingsSection div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 50px;
}

.settingsSection button {
  background-color: #e9701f;
  border: solid #c65e1a 1px;
  border-radius: 40%;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: rgb(255, 215, 192);
  cursor: pointer;
  margin: 0px 5px;
}
.settingsSection p {
  font-size: 25px;
  color: rgb(255, 215, 192);
  font-family: "Courier New";
}
.timerSection {
  background-color: rgb(0, 155, 59);
  border: #007510 2px solid;
  display: flex;
  justify-content: center;
  height: 50%;
  padding: 10px;
  min-height: 480px;
}
.timerDiv {
  border-radius: 50%;
  border: #f85a6f 3px solid;

  background-image: linear-gradient(
    to top,
    rgb(255, 83, 83) 0%,
    rgb(255, 83, 83) 0%,
    rgb(255, 211, 161) 0%,
    rgb(255, 211, 161) 100%
  );
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
  cursor: pointer;
}
#timerLabel {
  font-size: 50px;
  color: #c94000;
  opacity: 0.8;
  font-weight: bold;
  font-family: "Courier New";
}
#currentTime {
  font-size: 80px;
  color: #c94a00;
  font-weight: bold;
  opacity: 0.8;
  font-family: "Courier New";
}
#resetButton {
  background-color: #e9701f;
  border: solid #c65e1a 1px;
  border-radius: 20%;
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: 25px;
  color: rgb(255, 215, 192);
  font-family: "Courier New";
  margin-top: 10px;
}
