* {
  padding: 0px;
  margin: 0px;
}
header {
  text-align: center;
}
header img {
  width: 20%;
}
#search {
  padding-top: 2px;
  width: 100%;
  background-color: rgb(238, 238, 238);
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
#search input[type="text"] {
  width: 230px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
}

#typeSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(126, 229, 218);
  width: 40%;
  border: 1px rgb(255, 255, 255) solid;
  justify-content: center;
}
#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(112, 204, 194);
  width: 20%;
  justify-content: center;
  border: 1px rgb(255, 255, 255) solid;
}
#monthlyUpdates {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(98, 179, 170);
  width: 40%;
  border: 1px rgb(255, 255, 255) solid;
  justify-content: center;
}
#bottomBox {
  display: flex;
  flex-direction: row;
}
footer {
  margin-top: 30px;
  text-align: center;
}
